{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>Emerald Rozalia</title>
  </head>
  <body class="public">
    <section class="hero">
      <div class="brand big"><img src="{% static 'img/logo.png' %}" alt="Emerald Rozalia Limited" /></div>
      <h1>Ethical Irish Manufacturing.<br />Global Vision.</h1>
      <p>
        Unified commerce, manufacturing, franchise and operational intelligence.
      </p>
      <div>
        <a class="btn" href="/login/">Portal Login</a
        ><a class="btn alt" href="/p/product-detail/">Explore Products</a>
      </div>
    </section>
  </body>
</html>
